<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css" />
  <title>Pre Voyage - Admin</title>
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h2>사용자 관리</h2>
<p>사용자 수: <span th:text="${users.totalCounts}"></span></p>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Points</th>
    <th>Point Charge</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users.users}">
    <td th:text="${user.userId}"></td>
    <td th:text="${user.username}"></td>

    <td>
      <form th:action="@{/users/{id}/role(id=${user.userId})}" method="post">
        <input type="hidden" name="_method" value="patch">
        <label>
          <select name="role">
            <option value="USER" th:selected="${user.role.name == 'USER'}">USER</option>
            <option value="ADMIN" th:selected="${user.role.name == 'ADMIN'}">ADMIN</option>
          </select>
        </label>
        <button type="submit">저장</button>
      </form>
    </td>
    <td th:text="${user.points}"></td>
    <td>
      <form th:action="@{/users/{id}/points(id=${user.userId})}" method="post">
        <label>
          <input type="number" name="points" min="1" required>
        </label>
        <button type="submit">충전</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br>

<a href="/admin/coffee/new">커피 메뉴 추가</a>
</body>
</html>
